<div class="row">
  <div class="container">

    <br>
    <div class="h2">
      <h2>Search for Friends</h2>
    </div>
    <br>
    <div>
      <div class="search">
        <label class="Name">Name:
          <input #searchBox style="margin:5px" />
        </label>

        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="search(searchBox.value);" style="margin:5px" class="button">
          Search
        </button>
      </div>
    </div>
    <ul class="users">
      <li *ngFor="let user of users">
        <p>
          <img [src]="user.picture" style="width: 90px; height: 90px" />
          <a [routerLink]="['/home/profile', user.userId]" style="font-size: 20px;font-weight: bold;">{{user.firstname}} {{user.lastname}}</a>
        </p>
      </li>
    </ul>
  </div>
</div>