<div class="row">
    
    <br>
    
<div class="containter cont-1">
    <div class="col col-sm-4">
    <h4 class="global" style="width: 180px">Global Top 50</h4>
    <br>
    <iframe src="https://open.spotify.com/embed/user/jkkq819njkd5cvl1c8nxtj432/playlist/2A9ZncFstgnU1v2Guy3d8Q" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
</div>

<div class="containter cont-2">
        <div class="col col-sm-4">
        <h4 class="hiphop" style="width: 180px">Top Hip-Hop Songs</h4>
        <br>
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX0XUsuxWHRQd" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    </div>

    <div class="containter cont-3">
            <div class="col col-sm-4">
            <h4 class="radar" style="width: 180px">Release Radar</h4>
            <br>
            <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZEVXbeAvaFk1kvop" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>        </div>
        </div>
</div>





