<div class='col-sm-6'>
    <div class='container-fluid'>
        <div class='container-fluid'>
            <h4 id="heading">Recent Posts:</h4>
            <div class="button">
                <button class="btn" (click)="createPost();">+ Create new post</button>
            </div>
            <div class='row'>
                <div class='container-fluid'>
                    <div *ngIf="isActive">
                        <br/>
                        <textarea id="description" type="text" [(ngModel)]="post.description" placeholder="Enter Description" class="form-control input-md"
                            rows="3"></textarea>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="selectPostPic($event)" />
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <button id="cancelPost" (click)="cancelPost()" class="btn btn-lrg pull-right" style="font-size : 14px">Cancel</button>
                        <a href="http://localhost:4200/home/feed">
                            <button id="savePost" (click)='savePost()' class="btn btn-lrg pull-right" style="font-size : 14px">Post</button>
                        </a>
                    </div>
                    <div *ngFor='let post of posts'>
                        <div class="name">
                            <span>
                                <a [routerLink]="['/home/profile', post.author.userId]">{{post.author.firstname}} {{post.author.lastname}}</a>
                            </span>
                        </div>
                        <p class="description" style="font-size:15px">{{post.description}}</p>
                        <div class="image">
                            <span *ngIf="post.picture !== 'undefined'">
                                <img [src]="post.picture" class="img" />
                            </span>
                        </div>
                        <h6 style="font-size:13px">{{post.likedUsers.length}} Likes</h6>
                        <h6 class="date" style="font-size:13px">{{getDate(post.submitTime)}}</h6>
                        <button *ngIf='!postLikedByUser(post)' (click)="likePost(post.postId)" class="like">
                            <img src="https://preview.ibb.co/mhGY18/facebook_like_thumb_green.png" width="20px" height="20px">
                        </button>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

