<div style="text-align:center">


  <div class="middlePage"> 
    <div class="HeaderLogoWrapper">
        <div class="HeaderLogo">
    <img src="https://image.ibb.co/gmmhEJ/finallogo.png" width="300px" position="">
    </div>
    </div>
</div>
  <div class=" col-xs-offset-3 col-xs-6">
      <br>
      <br>
      <br>
      <br/><br/><br/><br/><br/><br/><br/>
  <div class="panel panel-dark">
    <div class="panel-heading">
      <h3 class="panel-title">Reset Password Using Email</h3>
    </div>
    <div class="panel-body">

      <div class="row">

        <div class="col-md-5 ">
          <br>
          <img src="https://image.ibb.co/dGiijT/favicon.png"
            height="100px" width="100px" />
 
        </div> 

 
        <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">

          <br/>
          <label id="emaillabel">Email:</label> 
          <input id="email" name="email" [(ngModel)]="email" type="email" placeholder="Enter Your Email Here">
          <br/> <br/>
          <p>You will receive an email with your new temporary password. Use that password to login.</p>
          <br/> <br/>

          <div class="container">
          <button id="singlebutton" name="singlebutton" class="btn btn-lg pull-center" routerLink="/login" style="font-size : 12px; margin:5px">Return To Login</button>
          <button id="signIn" (click) = 'resetPassword()' class="btn btn-lrg pull-right" style="font-size : 14px">Reset Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--div class='embed-container'>
      <iframe src='https://embed.spotify.com/?uri=spotify:track:24lMtPOCzP5g4hrg3NklLa' frameborder='0' allowtransparency='true'></iframe>
    </div-->

<!--iframe src="https://open.spotify.com/embed?uri=spotify:album:2o9McLtDM7mbODV7yZF2mc" width="300" height="380" frameborder="0"
      allowtransparency="true" allow="encrypted-media"></iframe-->